@import '../../../styles/variables.module.scss';

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $button-color;
  padding: 10px 0 0 20px;
  background-color: rgb(230, 230, 110);

  .links {
    list-style: none;
    font-size: 24px;

    .link {
      text-decoration: none;
      //   color: $text-color;
      color: $button-color;
    }

    li {
      display: inline-block;
      margin-right: 20px;
    }

    .link:hover {
      color: $text-color;
    }
  }
}
