.root {
  color: white;
  height: 100%;

  .title {
    margin: 50px;
  }

  .technologies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 50px 50px;
  }
}

@media (max-width: 1024px) {
  .root {
    height: 100%;
  }
}

@media (max-width: 426px) {
  .root {
    height: 100%;

    .technologies {
      justify-content: center;
    }
  }
}
