.root {
  color: white;
  height: 870px;
  .title {
    margin: 50px;
  }

  .technologies {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
    .cards {
      position: relative;
      left: 3%;
      flex: 1 1 auto;
      margin: 5px;
    }
  }

  .rethinking {
    display: flex;
    max-width: 250px;
    justify-content: center;
    font-size: 7px;
    margin: 30px auto;
  }

  .rethinking:hover {
    scale: 3;
  }
}

@media (max-width: 1024px) {
  .root {
    height: 100%;
  }
}
