@import '../../../styles/variables.module.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-color;
  padding: 10px 0 0 20px;

  .logo {
    position: relative;
    left: 30px;
    width: 50px;
    height: 50px;
  }

  .links {
    list-style: none;

    .navlink {
      text-decoration: none;
      color: $text-color;
    }

    li {
      display: inline-block;
      margin-right: 10px;
    }

    .navlink:hover {
      color: $text-hover-color;
      border-bottom: 1px solid $text-hover-color;
      padding-bottom: 5px;
    }
  }
}
