@import "../../../styles/variables.module.scss";

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-color;
  padding: 10px 0 0 20px;

  .logo {
    position: relative;
    left: 30px;
    width: 50px;
    height: 50px;
  }

  .nav_menu,
  .mobile_menu {
    list-style: none;

    .navlink {
      text-decoration: none;
      color: $text-color;
    }

    li {
      display: inline-block;
      margin-right: 10px;
    }

    .navlink:hover {
      color: $text-hover-color;
      border-bottom: 1px solid $text-hover-color;
      padding-bottom: 5px;
    }
  }

  .hamburger {
    border: 0;
    height: 25px;
    width: 25px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: $text-hover-color;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    /* // positions the icon to the right and center aligns it vertically */
    position: absolute;
    right: 10%;
    top: 30px;
    transform: translateY(-50%);
    display: none;

    .icon {
      font-size: 12px;
      position: absolute;
      top: 30%;
      left: 25%;
    }
  }

  .hamburger:hover {
    background-color: #2642af;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #585757;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;

    li {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .dropdown:hover .dropdown_content {
    display: flex;
    flex-direction: column;
    color: $text-hover-color;
    border: 1px solid $text-hover-color;
    padding-bottom: 5px;
  }
}

/* mobile */
@media (max-width: 768px) and (max-width: 991px) {
  .navigation {
    .hamburger {
      display: block;
    }

    .nav_menu ul {
      display: none;
    }

    .mobile_menu {
      li {
        position: relative;
        top: 7px;
        font-size: 15px;
      }
    }
  }
}
