.root {
  color: white;
  min-height: 1000px;
  padding-top: 70px;

  img {
    height: 300px;
    width: 300px;
    object-fit: scale-down;
    opacity: 0.8;
    border-radius: 400px;
  }

  .technologies {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
