@import '../../../styles/variables.module.scss';

.root {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;

  img {
    height: 300px;
    width: 300px;
    object-fit: scale-down;
    opacity: 0.8;
    border-radius: 400px;
  }

  .rightColumn {
    display: block;
    flex-basis: 30%;
    .text {
      color: $text-color;
      font-style: normal;

      span {
        color: $text-hover-color;
      }
    }

    .button {
      background-color: #0095ff;
      border: 1px solid transparent;
      border-radius: 3px;
      box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system, system-ui, 'Segoe UI', 'Liberation Sans',
        sans-serif;
      font-size: 13px;
      font-weight: 400;
      position: relative;
      text-align: center;
    }

    .button:hover,
    .button:focus {
      background-color: #07c;
    }

    .button:focus {
      box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
    }

    .button:active {
      background-color: #0064bd;
      box-shadow: none;
    }
  }
}
