@import "../../../styles/variables.module.scss";

.root {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;

  .portrait {
    height: 300px;
    width: 300px;
    object-fit: scale-down;
    opacity: 0.8;
    border-radius: 400px;
    filter: drop-shadow(0 0 0.75rem $text-hover-color);
  }

  .rightColumn {
    display: block;
    flex-basis: 30%;
    .text {
      color: $text-color;
      font-style: normal;

      span {
        color: $text-hover-color;
      }
    }
  }
}

@media (max-width: 426px) {
  .root {
    height: 80vh;
    display: block;
    position: relative;
    left: 25%;
    top: 150px;
    .portrait {
      height: 200px;
      width: 200px;
      margin-bottom: 30px;
    }

    .rightColumn {
      .text {
        margin-right: 150px;
      }
    }
  }
}

@media (max-width: 321px) {
  .root {
    left: 20%;
    top: 150px;

    .rightColumn {
      .text {
        margin-right: 80px;
      }
    }
  }
}
