// .container {
//   position: relative;
//   left: 15%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 300px;
//   margin: 50px 0 50px 0;
//   border: 2px solid red;
//   width: 70%;

//   .carousel {
//     display: flex;
//     flex-direction: row;
//     overflow: hidden;
//     animation: marquee 20s linear infinite;
//     @keyframes infinite {
//       0% {
//         left: 0;
//       }
//       100% {
//         left: -100%;
//       }
//     }

//     .image {
//       width: 100px;
//       height: 100px;
//       border-radius: 10px;
//       margin: 0 30px 0 30px;
//     }
//     .carousel__item {
//       opacity: 0.5;
//       transition-duration: 1s ease;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       width: 100px;
//       height: 100px;
//       margin: 0 30px 0 30px;
//       transition: all 0.2s ease-out;
//     }

//     .carousel__item_active {
//       opacity: 1;
//     }
//   }
// }

// .root {
//   margin: 0;
//   font-size: 42px;
//   font-family: sans-serif;
//   color: #333;
//   overflow: hidden;

//   .marquee {
//     height: 200px;
//     width: 800px;
//     border: 2px solid #eee;
//     overflow: hidden;
//     box-sizing: border-box;
//     position: relative;
//     margin: 200px auto;

//     .marquee_inner {
//       display: block;
//       width: 200%;
//       margin: 70px 0;
//       position: absolute;
//       animation: marquee 20s linear infinite;

//       .carousel_item {
//         width: 50px;
//         height: 50px;
//         background: #999;
//         border-radius: 50px;
//         // display: inline-block;
//         display: flex;
//         flex-direction: row;
//         margin: 0 24.7px;
//         float: left;
//         transition: all 0.2s ease-out;
//       }

//       .carousel_item:hover {
//         transform: scale(1.2);
//         opacity: 0.5;
//         cursor: pointer;
//       }

//       .image {
//         width: 100px;
//         height: 100px;
//         border-radius: 10px;
//         margin: 0 30px 0 30px;
//       }
//     }

//     .marquee_inner:hover {
//       animation-play-state: paused;
//     }
//   }

//   @keyframes marquee {
//     0% {
//       left: 0;
//     }
//     100% {
//       left: -100%;
//     }
//   }

//   /*.half {
//     float: left;
//     width: 10%;
//   }*/
// }

.root {
  margin: 0;
  font-size: 42px;
  font-family: sans-serif;
  color: #333;
  overflow: hidden;

  .marquee {
    height: 200px;
    width: 800px;
    border: 2px solid #eee;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: 200px auto;
  }

  .orb {
    width: 50px;
    height: 50px;
    background: #999;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 40px 0 40px;
    float: left;
    transition: all 0.2s ease-out;
  }

  .marquee_inner {
    display: block;
    width: 200%;
    margin: 70px 0;
    position: absolute;
    animation: marquee 5s linear infinite;
  }

  span {
    float: left;
    width: 50%;
  }

  .image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
}
