.container {
  position: relative;
  left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 50px 0 50px 0;
  border: 2px solid red;
  width: 70%;

  .right_arrow {
    position: absolute;
    right: 20%;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .left_arrow {
    position: absolute;
    left: 20%;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .carousel {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .image {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      margin: 0 30px 0 30px;
    }
    .carousel__item {
      opacity: 0.5;
      transition-duration: 1s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      margin: 0 30px 0 30px;
    }

    .carousel__item_active {
      opacity: 1;
    }
  }
}
