.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .right_arrow {
    position: absolute;
    right: 20%;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .left_arrow {
    position: absolute;
    left: 20%;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .image {
    width: 400px;
    height: 200px;
    border-radius: 10px;
  }

  .carousel__item {
    opacity: 0;
    transition-duration: 1s ease;
  }

  .carousel__item_active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
}
