.root {
  color: white;
  height: 100%;

  .title {
    margin: 50px;
  }

  .technologies {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
  }
}
